
<head>
    <meta charset="utf-8" />
    <title>Registration</title>
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<script src="js/register.js"></script>
<div class="container">
    <form method="post" class="registration-form">
        <div class="login-string">
            <label for="login">Логин:</label>
            <input type="text" id="login" name="Login" />
        </div>
        <div class="password-string">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="Password" />
        </div>
        <button type="button" class="register-button" onclick="register()">Зарегистрироваться</button>
    </form>
</div>


