<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<div>
    <table class="News">
        <thead>
        <tr>
            <th class="Title">Заголовок 1</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Строка 1, ячейка 1</td>
        </tr>
        <tr>
            <td>Строка 2, ячейка 1</td>
        </tr>
        <tr>
            <td>Строка 3, ячейка 1</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/MainPage.js"></script>
<script>document.addEventListener("DOMContentLoaded", getNews());</script>
