<head>
    <meta charset="utf-8" />
    <title>News</title>
    <link rel="stylesheet" href="/css/MainPage.css"/>
</head>

<div>
    <select id="filter">
        <option>Все</option>
        <option>Прочитанные</option>
        <option>Непрочитанные</option>
    </select>
    <table class="News" id="myTable">
        <thead>
        <tr>
            <th>Список статей</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div id="addNews">
        <a>Введите URL Rss Ленты</a>
        <input type="text" id="RssUrl"/>
        <button id="UploadRss" onclick="UploadRssNews()">Загрузить</button>
        <a id="UploadResult"></a>
    </div>
</div>
<script src="/js/js.cookie.js"></script>
<script src="/js/MainPage.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", getNews());
</script>

