.News{
    border-collapse: collapse;
    width: 100%;
    height: max-content;
    overflow: auto;
}
th, td {
    border: 3px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
#addNews{
    visibility: hidden;
}